<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>  
    <!-- edit_user_path(current_user)  link_toのパスを、ログインしているユーザーの編集をするため -->
    <!-- current_user.nameは、ログインしているユーザー名 -->
    <!-- ユーザー名をクリックすると、usersコントローラーのeditアクションが実行され、編集ページに遷移 -->
  </div>
  <div class="create-room">
    <%= link_to "チャットを作成する", new_room_path %> 
    <!-- new_room_pathはrails routesで確認 -->
  </div>
</div>

<div class="rooms">
  <% current_user.rooms.each do |room| %>   <!-- チャットルームは複数作成出来るので、「eachメソッド」を使って全てのチャットルームに対して同じ処理を繰り返し実行 「チャットルーム名を表示する」-->
    <div class="room">
      <div class="room-name">
        <a href="#"><%= room.name %></a>
      </div>
    </div>
  <% end %>
</div>